<table>
	<% @table.each do |row| %>
	<tr>
		<% row.each do |item| %>
		<td><%= item.spelling.spelling %></td>
		<% end %>
	</tr>
	<% end %>
</table>

<div>
	<p><%= @rand_string %></p>
	<p><%= @rand_hex %></p>
	<p><%= @rand_printable %></p>
</div>

<ul>
	<% @pin.each do |p| %>
		<li><%= "%04d" % p %></li>
	<% end %>
</ul>

<ul>
	<% @kore.each do |k| %>
		<li><%= k %></li>
	<% end %>
</ul>
